<section class="content">
  <div class="row">
    <div class="form-box" id="login-box">
      <div class="header">Reset Password</div>

      <form ng-hide="reset.hide" name= "regForm" id="register-form" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>

        <div class="body bg-gray">

          <div ng-class="{'has-success': (regForm.firstPassword.$valid && !regForm.firstPassword.$pristine && !reset.emailInvalid), 'has-error': (!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) || reset.emailInvalid}">
            <div class="form-group">
              <input ng-disabled="reset.disabled" type="password" name="firstPassword" class="form-control" ng-model="firstPassword" ng-minlength="6" ng-maxlength="25" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,25}$/" required placeholder="Password"/>

              <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>

              <ul class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)">
                  <li>Must contain at least one upper case letter</li>
                  <li>Must contain at least one lower case letter</li>
                  <li>Must contain at least one number</li>
                  <li>Must contain at least one special character</li>
                  <li>Must be at least 6 characters but no more then 25</li>
              </ul>
            </div>
          </div>     


          <div ng-class="{'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) && (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required)}">
            <div class="form-group">
              <input ng-disabled="reset.disabled" type="password" name="confirmPassword" class="form-control" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required placeholder="Password"/>

              <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>

              <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Password do not match</p>
            </div>
          </div>     
        </div>

        <div class="footer">                    

          <button ng-disabled="reset.disabled" type="submit" class="btn bg-olive btn-block">Reset Password</button>

          <a href="/login" class="text-center">I already have a membership</a>
        </div>
      </form>

      <div class="margin text-center">
        <div class="alert alert-success alert-dismissable" ng-show="reset.successMsg">
            <i class="fa fa-check"></i>
            {{ reset.successMsg }}
        </div>
        <div class="alert alert-danger alert-dismissable" ng-show="reset.errorMsg">
          <i class="fa fa-ban"></i>
          {{ reset.errorMsg }}
        </div>
      </div>
    </div>
  </div>
</section>







